.main-footer {
    color: white;
    background-color: #2F184B;
    padding-top: 2em;
    flex-direction: row;
    width: 100%;
  }

.main-footer .row {
  display: flex;
  justify-content:space-around;
}