* {
    box-sizing: border-box;
    margin: 0;
}

/* :root {
    --heights: 50vh;
    --widths: 100%;
} */

.slider-container {
    /* height: 3200px; */
    margin-bottom: 30px;
    width: var(--widths);
    display: flex;
    flex-direction: column;
}

.appbar-container {
    margin-bottom: 30px;
    width: var(--widths);
    display: flex;
    flex-direction: row;
    background-color: #F4EFFA;
    padding-bottom: 225px;
}

.appbar-container .left-column {
    width: 50%;
    padding-left: 200px;
    padding-right: 200px;
}

.appbar-container .right-column {
    width: 50%;
    margin-top: 150px;
}

.appbar-container .left-main-text {
    width: 100%;
    color: #2F184B;
    font-size: 50px;
    text-align: left;
    padding-top: 170px;
}

.appbar-container .left-bottom-text {
    width: 100%;
    color: black;
    font-size: 20px;
    text-align: left;
    padding-top: 20px;
    font-weight: normal;
    padding-bottom: 50px;
}

.appbar-container .right-side-image {
    width: 900px;
    height: 600px;
    border-radius: 8%;
}

.active {
    display: inline-block;
}

.inactive {
    display: none;
}

.slider-image-container {
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider-container section {
    height: 100%;
}

.slides {
    height: 100%;
    width: var(--widths);
}

.slide-image {
    width: auto;
    height: 80%;
    border-radius: 40px;
    max-height: 256px;
    max-width: 384px;
}

.main-slide-text {
    width: 100%;
    color: #2F184B;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}

.slide-title,
.slide-text {
    width: 100%;
    color: #532B88;
    font-size: 30px;
    text-align: center;
}

.slide-text {
    color: black;
    font-size: 20px;
}

.prev,
.next {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: 1050px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
}

.prev:hover,
.next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in;
}

.next {
    right: 0;
    border-radius: 5px 0px 0px 5px;
}

.all-dots {
    display: flex;
    justify-content: center;
}

.dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0px 3px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: inline-block;
}

.active-dot,
.dot:hover {
    background-color: #532B88;
}

.category-menu-container{
    display: flex;
    flex-direction: column;
    margin: 0 160px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 65px;
}

.category-menu .square-button {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    text-align: center;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25)) drop-shadow(-10px 10px 20px rgba(0, 0, 0, 0.25));
    padding: 10px 21px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 32px;
    color: #2F184B;
    background: #F4EFFA;
    border: 1px solid #F4EFFA;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    align-items: center;
}

.category-text {
    width: 100%;
    color: #2F184B;
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.category-column {
    width: 100%;                 
    height: 80px;                
    display: flex;               
    align-items: center;         
    justify-content: center;     
    padding-top: 12px;
}

.category-column-text-button {
    font-size: 28px;
    /* background-color: white;
     color: black;
    border: 2px solid #4CAF50;  */
    /* border: #F4EFFA;*/
    background-color: white; 
    border: none;
    text-align: center;
    padding: 30px 30px 30px 30px;
    transition-duration: 0.4s;
}

.category-column-text-button:hover {
    background-color: #C8B1E4;
    color: black;
}

.left-start-button {
    background-color: #2F184B;
    border: none;
    color: white;
    justify-content: center;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    font-size: 20px;
    border-radius: 30px;

}

.slider-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
}