.all-courses-container {
    display: list-item;
    justify-content: center;
    list-style-type:none;
}

.sub-title-text {
    width: 100%;
    color: #2F184B;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.all-courses-container .object-of-course {
    display: flex;
    justify-content: center;
    width: 100%;
}

.all-courses-container .empty-courses {
    width: 100%;
    color: #532B88;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.all-courses-container .empty-courses-bottom-text {
    width: 100%;
    color: #532B88;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 165px;
}

.all-courses-container .course-object-title {
    font-size: 30px;
    font-weight: 600;
    color: #2F184B;
}

.all-courses-container .course-object-subject {
    font-size: 15px;
    color: gray;
}

.all-courses-container .course-object-price {
    font-size: 25px;
    font-weight: 450;
    padding-bottom: 20px;
}