.filters-menu-container {
    display: list-item;
    justify-content: center;
    list-style-type:none;
}

.filters-menu-container .main-text {
    width: 100%;
    color: #2F184B;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.filters-menu-container .object-of-course {
    display: flex;
    justify-content: center;
    width: 100%;
}

.filters-menu-container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.filters-menu-container .row-collapse {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 15px;
}

.filters-menu-container .row-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.filters-menu-container .search {
    width: 20%;
    margin-right: 20px;
}

.filters-menu-container .form-button {
    width: 300px;
    height: 55px;
    border-radius: 10px;
    background-color: #532B88;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }

.filters-menu-container .empty-courses {
    width: 100%;
    color: #532B88;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.filters-menu-container .empty-courses-bottom-text {
    width: 100%;
    color: #532B88;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 165px;
}

.filters-menu-container .course-object-title {
    font-size: 30px;
    font-weight: 600;
    color: #2F184B;
}

.filters-menu-container .course-object-subject {
    font-size: 15px;
    color: gray;
}

.filters-menu-container .course-object-price {
    font-size: 25px;
    font-weight: 450;
    padding-bottom: 20px;
}

.filters-menu-container .select-subject{
    font-size: 15px;
    background-color:rgb(244, 239, 250);
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    height: 55px;
}

.filters-menu-container .price-text {
    font-size: 20px;
    color: #2F184B;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 10px;
}

.filters-menu-container .price-slider{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    cursor: grab;
}

.filters-menu-container .filters-left-column {
    width: 18%;
}

.filters-menu-container .filters-right-column {
    width: 100%;
}

.filters-menu-container .filters-course-image {
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 180px;
    border-radius: 40px;
}