.filters-menu-container {
    display: list-item;
    list-style-type:none;
}

.filters-menu-container .main-text {
    width: 100%;
    color: #2F184B;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.filters-menu-container .object-of-course {
    display: flex;
    justify-content: center;
    width: 100%;
}

.filters-menu-container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.filters-menu-container .row-collapse {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 15px;
}

.filters-menu-container .row-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.filters-menu-container .search {
    width: 20%;
    margin-right: 20px;
}

.filters-menu-container .form-button {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    background-color: #532B88;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }

  .form-button:hover {
    cursor: pointer;
    background-color: #2F184B;
    transition: all 0.2s ease-out;
  }

.filters-menu-container .empty-courses {
    color: #532B88;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.filters-menu-container .empty-courses-bottom-text {
    color: #532B88;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 165px;
}

.filters-menu-container .select-subject{
    font-size: 15px;
    background-color:rgb(244, 239, 250);
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    height: 55px;
}

.filters-menu-container .price-text {
    font-size: 20px;
    color: #2F184B;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 10px;
}

.filters-menu-container .price-slider{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    cursor: grab;
}