.profile-top-container {
    flex-direction:column;
    display:flex;
    align-items:center;
    position: relative;
    height:20%;
    width:100%;
}

h2
{
    margin-top: 20px;
    font-size: 25px;
    color: rgb(47, 24, 75);
}

.profile-button
{
    height:40px;
    width:250px;
}

.profile-bttm-container > h2
{
    padding-bottom:50px;
    padding-left:40px;
}
